/*header*/
header h1 {
  font-family: 'Chango', cursive;
  text-align: center;
  color: #294d31;
}

body {
  background-color: #fefae0;
}

/*pop up style*/
#pop-up {
  width: 300px;
  padding: 10px;
  background-color: pink;
  color: white;
  border: solid 1px red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

#pop-up h1 {
  text-align: center;
}

#pop-up p {
  margin-bottom: 40px;
}

#btn-close {
  padding: 4px;
  position: absolute;
  bottom: 10px;
  right: 150px;
  font-weight: bold;
  background-color: inherit;
  color: inherit;
  border: solid 1px white;
  cursor: pointer;
  pointer-events: all;
}

/*rolling dice*/
#pop-up2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  z-index: 1000;
  background-color: rgba(252, 245, 246, 0.8);
}

#pop-up2 div {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  min-width: 300px;
  padding: 10px;
}

/*page content*/
.game-container {
  background-color: white;
  margin: 0 auto;
  width: 80%;
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.game-container section {
  margin: 10px;
  width: 100%;
  border: 1px solid black;
}

.game-container h2 {
  width: 100%;
  text-align: center;
}

section h3 {
  background-color: #00afb9;
  text-align: center;
}

section .dices, section .scores {
  justify-content: center;
  display: flex;
}

section .dices div, section .scores div {
  padding: 5%;
  border: 1px solid black;
  width: 45%;
  text-align: center;
}

.dice h3 {
  margin: 0px;
}

.score h3 {
  margin: 0px;
}

/*buttons*/
.buttons {
  padding: 10px;
  margin: 3%;
  text-align: center;
}

.buttons #btn-new-game {
  background-color: white;
  border: 2px solid #4CAF50;
  color: green;
}

.buttons #btn-new-game:hover {
  color: white;
  background-color: #4CAF50;
}

.buttons #btn-roll-dice {
  background-color: white;
  border: 2px solid #ff9800;
  color: orange;
}

.buttons #btn-roll-dice:hover, .buttons :active {
  background-color: #ff9800;
  color: white;
}

.buttons button {
  width: 10%;
  font-size: medium;
  cursor: pointer;
  margin: 0 2%;
  padding: 3px;
}

/*Rules and instructions*/
.accordion-container {
  border-bottom: 3px solid black;
}

.content-header {
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
}

.content-header span {
  margin: auto 0;
}

.content ul {
  padding-left: 10%;
}

.tab01, .tab02 {
  cursor: pointer;
}
